/* ==========================================================================
   Spacing-specific utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 * 2. Specifies list of generated <type>s.
 * 3. Specifies list of generated <direction>s.
 * 4. Specifies list of specific direction values.
 * 5. Specifies list of generated <size>s.
 * 6. Specifies list of specific size values.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

$bits-space-types: (padding margin) !default; /* 2 */

$bits-space-directions:     (A  T      R        B         L       H  V) !default; /* 3 */
$bits-space-direction-vals: ('' '-top' '-right' '-bottom' '-left' '' '') !default; /* 4 */

$bits-space-sizes:     (n s   m    l) !default; /* 5 */
$bits-space-size-vals: (0 5px 10px 20px) !default; /* 6 */

/**
 * Used to adjust the default spacing between components
 * Use with great care!
 *
 * u-<type><DIRECTION><size>
 *
 * A = all
 * T = top
 * R = right
 * B = bottom
 * L = left
 * H = horizontal
 * V = vertical
 *
 * n = none
 * s = small
 * m = medium
 * l = large
 *
 * ---------------
 * Output example:
 *
 * .u-paddingAn {        |    .u-paddingAs {          |    .u-paddingAm {
 *   padding: 0;         |      padding: 5px;         |      padding: 10px;
 * }                     |    }                       |    }
 *
 * ...
 *
 * .u-marginRn {         |    .u-marginRs {           |    .u-marginRm {
 *   margin-right: 0;    |      margin-right: 5px;    |      margin-right: 10px;
 * }                     |    }                       |    }
 */

@each $type in $bits-space-types {
  @for $i1 from 1 through length($bits-space-directions) {
    $dir: nth($bits-space-directions, $i1);
    $dirVal: nth($bits-space-direction-vals, $i1);

    @for $i2 from 1 through length($bits-space-sizes) {
      $size: nth($bits-space-sizes, $i2);
      $sizeVal: nth($bits-space-size-vals, $i2);

      .#{$bits-utils-ns}u-#{$type}#{$dir}#{$size} {
        @if $dir == 'H' {
          #{$type}-left: $sizeVal;
          #{$type}-right: $sizeVal;
        } @else if $dir == 'V' {
          #{$type}-top: $sizeVal;
          #{$type}-bottom: $sizeVal;
        } @else {
          #{$type}#{$dirVal}: $sizeVal;
        }
      }
    }
  }
}