/* ==========================================================================
   Spacing-specific utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 * 2. Specifies list of generated <type>s.
 * 3. Specifies list of generated <direction>s.
 * 4. Specifies list of generated <size>s.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

$bits-space-types: (padding margin) !default; /* 2 */

$bits-space-directions: /* 3 */ (
  (A '')
  (T '-top')
  (R '-right')
  (B '-bottom')
  (L '-left')
  (H '')
  (V '')
) !default;

$bits-space-sizes: /* 4 */ (
  (n 0)
  (s 5px)
  (m 10px)
  (l 20px)
) !default;

/**
 * Used to adjust the default spacing between components
 * Use with great care!
 *
 * u-<type><DIRECTION><size>
 *
 * A = all
 * T = top
 * R = right
 * B = bottom
 * L = left
 * H = horizontal
 * V = vertical
 *
 * n = none
 * s = small
 * m = medium
 * l = large
 *
 * ---------------
 * Output example:
 *
 * .u-paddingAn {        |    .u-paddingAs {          |    .u-paddingAm {
 *   padding: 0;         |      padding: 5px;         |      padding: 10px;
 * }                     |    }                       |    }
 *
 * ...
 *
 * .u-marginRn {         |    .u-marginRs {           |    .u-marginRm {
 *   margin-right: 0;    |      margin-right: 5px;    |      margin-right: 10px;
 * }                     |    }                       |    }
 */

@each $type in $bits-space-types {
  @each $direction in $bits-space-directions {
    $dirName: nth($direction, 1);
    $dirVal: nth($direction, 2);

    @each $size in $bits-space-sizes {
      $sizeName: nth($size, 1);
      $sizeVal: nth($size, 2);

      .#{$bits-utils-ns}u-#{$type}#{$dirName}#{$sizeName} {
        @if $dirName == 'H' {
          #{$type}-left: $sizeVal;
          #{$type}-right: $sizeVal;
        } @else if $dirName == 'V' {
          #{$type}-top: $sizeVal;
          #{$type}-bottom: $sizeVal;
        } @else {
          #{$type}#{$dirVal}: $sizeVal;
        }
      }
    }
  }
}